*{
	margin: 0;
	padding: 0;
}
div {
            transform: ...  /* Navegador con especificación oficial */
    -webkit-transform: ...  /* Chrome, Safari, Opera... (Motor WebKit) */
       -moz-transform: ...  /* Mozilla Firefox */
        -ms-transform: ...  /* Microsoft Internet Explorer */
         -o-transform: ...  /* Antiguo opera */
}
/* contenedor de color del menu */

.navbar{
	height: 80px;
	width: 100%;
	background-color: #00796b;
	padding-top: 15px;
	margin-bottom: 0;
}

/* MARCA */

.navbar-default .navbar-brand{
	color: white;
	font-family: 'kaushan Script';
	font-weight: 400;
	font-style: normal; 
	font-size: 25px;
	padding-left: 30px;
	
}
.navbar-default .navbar-brand:hover{
	color:#f57c0d;
}
.navbar-default{
	border-color: transparent;
}

/* MENU */

nav.navbar-fixed-top{
	z-index: 1000;
	object-position: inherit;
}
.top-nav-collapse{
	object-position: inherit;
}

/* lista de menu*/

.navbar-default .navbar-nav>li>a{
	color:white;
	font-family: sans-serif;
	font-size: 14px;

}

.navbar-default .navbar-nav>li>a:hover{
	color: #f57c0d;
	border-radius: 10px;
	background-color: white;
}

.navbar-default .navbar-nav .active a{
	color: #f57c0d;
	border-radius: 10px;
	background-color: white;
}
/* para activar por si no resulta el active 
.navbar-default .navbar-nav .active a:focus {
	outline: none;
}

.navbar-default .navbar-nav .active a:hover {
	color:  #00796b;
	background-color: #b2dfdb;
}
*/
.navbar-fixe-top{
	position: inherit;
}

/* ----TOGGLE---- */
.navbar-toggle{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin: 8px;
	background-color: transparent;
	background-image: none;
	border:transparent;
	border-radius: 4px;
	padding-top: 12px;
}

/* --- HEADER ---*/

header.container{
	background-position: center center;
    background-repeat: no-repeat;
    margin-bottom:0;
    background-attachment: fixed;
	width: 100%;
	height: 800px;
	background-image: url("imagen/maxresdefault.png");

}

header:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-animation: immortalkenburns 20000ms linear 0s infinite alternate;
    animation: immortalkenburns 20000ms linear 0s infinite alternate;

}

.intro-header{
	padding-top: 250px;
	margin-left: 120px;
	text-align: left;
	font-size: 20px;
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #DE7536;
}

.intro-leal{
	text-align: left;
	font-size: 20px;
	margin-left: 200px;
	color: #626363;
}

/* --- QUIENES SOMOS --- */

h1.section-heading{
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
	color: #333;
	padding-top: 50px;
	text-align: center; 

}

h3.section-text{
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: darkgrey;
    text-align: center; 
}

section#quienes-somos{}

