*{
	margin: 0;
	padding: 0;
}

div {
            transform: ...  /* Navegador con especificación oficial */
    -webkit-transform: ...  /* Chrome, Safari, Opera... (Motor WebKit) */
       -moz-transform: ...  /* Mozilla Firefox */
        -ms-transform: ...  /* Microsoft Internet Explorer */
         -o-transform: ...  /* Antiguo opera */
}

/* contenedor de color del menu */

.navbar{
	height: 80px;
	width: 100%;
	background-color: #00796b;
	padding-top: 15px;
	margin-bottom: 0;
}

/* MARCA */

.navbar-default .navbar-brand{
	color: white;
	font-family: 'kaushan Script';
	font-weight: 400;
	font-style: normal; 
	font-size: 25px;
	padding-left: 30px;
	
}
.navbar-default .navbar-brand:hover{
	color:#f57c0d;
}
.navbar-default{
	border-color: transparent;
}

/* MENU */

nav.navbar-fixed-top{
	z-index: 1000;
	object-position: inherit;
}
.top-nav-collapse{
	object-position: inherit;
}

/* lista de menu*/

.navbar-default .navbar-nav>li>a{
	color:white;
	font-family: sans-serif;
	font-size: 14px;
	margin: 5px;

}

.navbar-default .navbar-nav>li>a:hover{
	color: #f57c0d;
	border-radius: 10px;
	background-color: white;
}

.navbar-default .navbar-nav .active a{
	color: #f57c0d;
	border-radius: 10px;
	background-color: white;
}
/* para activar por si no resulta el active 
.navbar-default .navbar-nav .active a:focus {
	outline: none;
}

.navbar-default .navbar-nav .active a:hover {
	color:  #00796b;
	background-color: #b2dfdb;
}
*/
.navbar-fixe-top{
	position: inherit;
}

/* ----TOGGLE---- */
.navbar-toggle{
	position: relative;
	float: right;
	padding: 9px 10px;
	margin: 8px;
	background-color: transparent;
	background-image: none;
	border:transparent;
	border-radius: 4px;
	padding-top: 12px;
}

/* --- HEADER ---*/

header.container{
	background-position: center center;
    background-repeat: no-repeat;
    margin-bottom:0;
    background-attachment: fixed;
	width: 100%;
	height: 800px;
	background-image: url("imagen/maxresdefault.png");

}

header:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-animation: immortalkenburns 20000ms linear 0s infinite alternate;
    animation: immortalkenburns 20000ms linear 0s infinite alternate;

}

.intro-header{
	padding-top: 250px;
	margin-left: 120px;
	text-align: left;
	font-size: 20px;
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #DE7536;
}

.intro-leal{
	text-align: left;
	font-size: 20px;
	margin-left: 200px;
	color: #626363;
}
/*--- CABECERA DE SECCION ---*/
h1.section-heading{
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
	color: #333;
	padding-top: 65px;
	text-align: center; 

}
h1.section-heading-a{
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
	color: white;
	padding-top: 65px;
	text-align: center; 

}
h3.section-text{
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: darkgrey;
    text-align: center; 
}
/* --- QUIENES SOMOS --- */

#quienes-somos{
	width: 100%;
	height: 750px;
	text-align: justify;
	background-color: white;
}
h4.informacion{
	text-align: right;
	font-size: 25px;
	font-family: 'kaushan Script';
    font-weight: 400;
    font-style: normal;
}
p.text{
	font-size: 18px;
	text-align: justify-all;
	padding-left: 120px;
	width: 750px;
}
.right-content{  /*aqui va la foto de quien somos*/
	text-align: right;
	box-shadow: 6px 8px 5px 0px #A0A0A0; /*codigo para darle sombra */
	height: 331px;
	width: 500px;
	margin-top: 60px;
	margin-left: 70px;
}
.bg-grey{
	height: 50px;
	width:auto;
	padding: 5px 10px 0 20px;
	margin-top: 80px;
	margin-left: 120px;
	font-size: 3px;
}

hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
	border-top: 1px solid #9e9e9e; 
}

.row-table [class*="col-"] {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.left-content{
	margin-top: 50px;
}

/* --- MASAJES --- */

#masajes{
	height: 1100px;
	width: 100%;
	background-color: #009688;

}

.sin-padding{
	padding: 20px;
}

h4.nombre-masaje{
	font-size: 25px;
	font-family: 'kaushan Script';
	font-weight: 400;
	padding-top: 190px;
	color: #079c8e;
}


 h2.nombre-masaje{
	font-size: 15px;
	font-family: 'kaushan Script';
	font-weight: 400;
	padding-top: 150px;
}
.col-lg-4, .col-md-6 .col-sm-6 .col-xs-12 .sin-paddings {
    padding: 5px 5px;
    background-position: center;
}
.imagenes-masajes{
	margin-left: 60px;
	font-family: 'kaushan Script';
	padding: 5px;
}
.zoom-container .img-responsive{
	display: inline-block;
	border:5px solid white;
	padding: 5px;
}

.col-lg-4, .col-md-6 .col-sm-6 .col-xs-12 .sin-paddings{
	
	padding: -20px;
	background-position: center;
}

/* imagenes masajes zoom */
.zoom-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  color: white;
  }

.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; 
}

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; 
}
  .zoom-container .zoom-caption h3, .zoom-container .zoom-caption button {
    display: none; 
}

.zoom-container .zoom-caption:hover h3 {
  text-align: center;
  font-size: 20px;   
  font-weight: 900;
  color: #fff;
  margin: 25% 0 0;
  padding: 10px 0;
  display: block; 
}
.zoom-container .zoom-caption:hover button {
  border: 2px solid #FFF;
  background-color: transparent;
  color: #FFF;
  padding: 5px;
  font-size: 12px;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto; 
}
.zoom-container .zoom-caption:hover a {
  text-decoration: none;
  color: #FFF; 
}

.zoom-container:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25); 
}

.zoom-container:hover .zoom-caption {
  background-color: rgba(14, 154, 155, 0.5); 
}

.accordion {
  overflow: hidden; 
}
.accordion .ion-arrow-down-b {
    padding-left: 5px; 
}

/* --- INFORMACION DEL MENSAJE --- */
h2.informacion-masaje{
	font-size: 25px;
	font-family: 'kaushan Script';
	font-weight: 400;
	padding-top: 0;
	text-align: center;
}
.subtitulo-masaje{
	font-size: 15px;
	font-family: 'kaushan Script';
	font-weight: 400;
	color: white;
	text-align: center;
}
p.titulo-masaje{
	font-family: 'kaushan Script';
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: white;
	text-align: center;
}
p.info{
	text-align: justify;
}
.btn .btn-success{
	background-color:#009688;
}
.modal-content {
    position: relative;
    background-color: #80cbc4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    height:850px;
}

.btn-primary {
    color: #fff;
    background-color: #09826c;
    border-color: #09826c;
}

.modal-body {
    position: relative;
    padding: 0;
}

/* --- Chakras ---*/

.parallax-container{
	background-image: url("imagen/vel-armonia.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	min-height:250px;
	background-position: center;
	background-size: cover;
}

p.text{
	text-align: justify;
}

/* --- Terapias --- */
.row-terapias{
	padding-top: 50px;
}
.bg-light-gray {
    background-color: #eee;
    height: 100%;
    width: 100%;
}
.terapias-imagen{
	width: 100%;
}
.terapias-caption{
	width: 100%;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}
.thumbnail {
    display: block;
    padding: 12px;
    margin-bottom: 20px;
    /* line-height: 35.428571; */
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* -webkit-transition: border .2s ease-in-out; */
    -o-transition: border .2s ease-in-out;
    /* transition: border .2s ease-in-out; */
}
.thumbnail .caption {
    padding: 9px;
    color: #1f1f1f;
}
/* --- CONTACTO ---*/


.bg-light-img{
	width: 100%;
	height: 680px;
	background-image: url("imagen/luzdelmundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.row-contacto{
	padding-top: 25px;	
}
.form-group{
	box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.44);
	    margin-bottom: 15px;
}


.mapa-contacto{
	padding-left: 50px;
	box-shadow: 51px 9px 12px 0px rgba(0, 0, 0, 0.44);
	height: 300px;
    width: 505px;

}

.btn-lg {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
    border-radius: 6px;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.44);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f90a0a;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* --- Footer --- */
.bg-footer{
	background-color:#00796b;
	height: 300px;
	width: 100%;
	padding-top: 25px;
	color: white;
}
.border-left {
    border-left: 1px solid #f2f2f2;

}
.nombre-footer{
	color:#004d40;
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: -73px;
    width: 100%;
    text-align: center;
}
.fa-inverse {
    color: #fff;
    top: 43px;
}





@media (max-width: 768px){
	div.container div.container-fluid {
	 	width: 100%;
	 	height: 100%;
	}
}
@media screen and (max-width: 480px) {
	div.container div.container-fluid {
	 	width: 100%;
	}
}

@media screen and (max-width: 360px) {
	div.container div.container-fluid {
	 	width: 100%;
	}
}




